.contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.row {
    display: flex;
    gap: 10px;
}

.row>* {
    border: 1px solid black;
    width: 10em;
    background-color: antiquewhite;
}